<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li th:each="dto, state: ${list}" th:if="${dto.sno % 5 == 0}">
            [[${state.count}]] ========== [[${dto}]]
        </li>
    </ul>
    ==================================================================================
    <ul>
        <li th:each="dto, state: ${list}">
            <span th:if="${dto.sno % 5 == 0}" th:text="${'---------------------' + dto.sno}"></span>
            <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>
        </li>

        <li th:each="dto, state: ${list}" th:text="${dto.sno % 5 == 0} ? '--------' + ${dto.first} : '========' + ${dto.last}">
            [[${state.count}]] ========== [[${dto}]]
        </li>
    </ul>
</body>
</html>